{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
</style>

<div class="example-wrapper">
    <p>test</p>
    <img src="{{ data.url }}" alt="">
</div>
{% endblock %}
